@charset "UFT-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body {
 background-image: linear-gradient( to right, #687A62, #79A568);
}

main {
 background-color: white;
 border-radius: 10px;
 box-shadow: 5px 5px 15px #465043a9;
 width: 600px;
 padding: 10px;
 margin: auto;
}

h1 {
    text-align: center;
 color: #7AFA4B ;
 text-shadow: 1px 1px 2px #7ECF61 ;
}

h2 {
 color: #7ECF61 ;
}

p {
 text-align: justify;
}